# Created by https://www.gitignore.io

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
ogonori
ogo
*BUFFER*
FINDINGS.txt
extry
obinary/NEWdbcommands
OLDclient.go
currTODO.txt

# Folders
_obj
_test
travis/environment
doc/pprof*
obinary/binserdeORIG
tmp/
obinary/writer
obinary/playground/writer-playground

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
out
*.out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*pprof
*.html

*.iml
.idea/
/out/
.idea_modules/
*.ipr
*.iws